@model IEnumerable<DevIO.AppMvc.ViewModels.ProdutoViewModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/imagens/@item.Imagem" alt="@item.Imagem" style="width: 70px; height: 100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
                </td>
                <td>
                    @item.Valor.ToString("C")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td class="text-right">
                    <a class="btn btn-warning" href="@Url.Action("Details", "Produtos", new { id = item.Id })"><spam class="glyphicon glyphicon-search"></spam> Detalhes</a>
                    <a class="btn btn-info" href="@Url.Action("Edit", "Produtos", new { id = item.Id })"><spam class="glyphicon glyphicon-pencil"></spam> Editar</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Produtos", new { id = item.Id })"><spam class="glyphicon glyphicon-trash"></spam> Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>